/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  /* cursor: none; */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensure the video doesn't cause scrolling */
}

video {
  position: fixed; /* Position the video relative to the viewport */
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensure the video is behind other content */
}

.form {
  position: relative;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form-container {
  position: relative;
  z-index: 1; /* Ensure the form container is above the blur background */
  border-radius: 10px;
  /* Other styles for the form container */
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the content is centered vertically */
}

.task1 {
  color: transparent;
  text-align: center; /* Aligns content horizontally */
  /* border: 1px solid #ccc; Optional border for visualization */
  border-radius: 20px; /* Optional border radius for smoother corners */
  padding: 20px; /* Optional padding for spacing */
  /* backdrop-filter: blur(5px); Adjust blur radius as needed */
}

.task-1 {
  margin-bottom: 20px; /* Optional margin for spacing between input and button */
}

.hint-button {
  color: transparent;
  background-color: transparent;
  border: none;
  margin-top: 10px; /* Optional margin for spacing between tasks and hint button */
}

@keyframes rainbow {
  0% { color: violet; }
  14% { color: indigo; }
  28% { color: blue; }
  42% { color: green; }
  57% { color: yellow; }
  71% { color: orange; }
  85% { color: red; }
  100% { color: violet; }
}

.rainbow-text {
  animation: rainbow 7s linear infinite; /* Adjust duration and timing function as needed */
}

.rainbow-wrapper {
  animation: changeBackground 7s linear infinite;
  padding: 5px 10px; /* Optional padding for spacing */
  border-radius: 20px; /* Adjust the value for smoother corners */
}


@keyframes changeBackground {
  0% { background-color: #FFFFFF; } /* White */
  14% { background-color: #FFFFFF; } /* White */
  28% { background-color: #FF0000; } /* Red */
  42% { background-color: #00FF00; } /* Green */
  57% { background-color: #0000FF; } /* Blue */
  71% { background-color: #FFFF00; } /* Yellow */
  85% { background-color: #FF00FF; } /* Magenta */
  100% { background-color: #00FFFF; } /* Cyan */
}


.title .rainbow-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes rainbow-h1 {
  0% { color: violet; }
  14% { color: indigo; }
  28% { color: blue; }
  42% { color: yellow; }
  57% { color: orange; }
  71% { color: red; }
  85% { color: violet; }
}

@keyframes rainbow-h2 {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: blue; }
  57% { color: indigo; }
  71% { color: violet; }
  85% { color: red; }
}

.rainbow-text {
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header .rainbow-text {
  animation-name: rainbow-h1;
}

.title .rainbow-text {
  animation-name: rainbow-h2;
}

.transparent-input {
  background-color: transparent;
  border: none;
  cursor: none;
  color: transparent;
  /* border-bottom: 1px solid #000; Add this if you want to have a bottom border */
  outline: none; /* Optionally remove the outline */
}


.task1name{
  text-decoration: underline;
  color: transparent;
  background-color: transparent;
  /* border: 1px solid white; */
  padding: 0;
  width: 30%;
}

.task1 p{
  color: transparent;
  font-size: 0.05rem;
}

/* Gradient background for the buttons */
.rainbow-background {
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  background: transparent;
  background-color: transparent;
  border: none; /* Remove button border */
  color: transparent; /* Set text color to white for better visibility */
  font-style: bold; /* Optional: Add bold font style */
  font-size: larger; /* Optional: Increase font size */
  /* cursor: pointer; Change cursor to pointer on hover */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

/* Hover effect for the buttons */
.rainbow-background:hover {
  filter: brightness(1.2); /* Increase brightness on hover */
}
